/* ============================= */
/* LOGIN PAGE PREMIUM */
/* ============================= */

.login-box {

  width: 90%;
  max-width: 430px;

  margin: 90px auto 180px;

  background:
    rgba(255,255,255,0.15);

  backdrop-filter: blur(15px);

  padding: 40px;

  border-radius: 25px;

  text-align: center;

  box-shadow:
    0 10px 35px rgba(0,0,0,0.35);

  border:
    1px solid rgba(255,255,255,0.2);
}

/* LOGO */
.login-box img {

  width: 90px;

  margin-bottom: 15px;
}

/* JUDUL */
.login-box h2 {

  color: white;

  font-size: 32px;

  margin-bottom: 10px;

  text-shadow:
    0 2px 8px rgba(0,0,0,0.4);
}

/* SUBTITLE */
.sub-login {

  color: rgba(255,255,255,0.9);

  margin-bottom: 25px;

  font-size: 15px;
}

/* INPUT */
.login-box input {

  width: 100%;

  padding: 15px;

  margin-bottom: 15px;

  border: none;

  border-radius: 14px;

  font-size: 15px;

  box-sizing: border-box;

  background:
    rgba(255,255,255,0.9);
}

/* BUTTON */
.login-box button {

  width: 100%;

  padding: 15px;

  border: none;

  border-radius: 14px;

  background:
    linear-gradient(
      135deg,
      #1e88e5,
      #0d47a1
    );

  color: white;

  font-size: 16px;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.login-box button:hover {

  transform:
    translateY(-2px);

  box-shadow:
    0 5px 18px rgba(0,0,0,0.3);
}

/* ERROR */
#error {

  color: #ffeb3b;

  font-weight: bold;

  margin-top: 15px;
}

/* LINK */
.btn-kembali {

  display: inline-block;

  margin-top: 20px;

  color: white;

  text-decoration: none;

  font-size: 14px;
}

.btn-kembali:hover {

  text-decoration: underline;
}

/* FOOTER LOGIN */
footer {

  margin-top: 80px;
}
